.plans {
  padding: 1rem 3rem 5rem 3rem;
}
.plans_title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem 0;
}
.benefits {
  margin-bottom: 1rem;
}
.benefits li {
  display: flex;
  align-items: center;
  list-style: none;
}
.benefits li svg {
  color: #e50914;
}
.plans_name {
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
.plan_basic,
.plan_standard,
.plan_premium {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 0;
}
.plans .identifier {
  position: absolute;
  width: calc(0.2 * (100% - 35%));
  height: 400px;
  z-index: 1000;
  margin: 0;
  opacity: 0;
}
.plans_name span {
  width: 65%;
  padding: 3rem 0;
  font-weight: 700;
  background-color: #e50914;
  cursor: default;
}
.plans_name svg {
  display: flex;
  margin-top: -1.1rem;
  font-size: 4rem;
  color: #e50914;
  height: 2.5rem;
}
.table_plans {
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
  margin-top: -1rem;
}
.table_plans tr {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.table_plans tr:last-child {
  border: none;
}
.table_plans td {
  padding: 1rem;
}
.table_plans .table-description {
  width: 40%;
}
.table-basic,
.table-standard,
.table-premium {
  font-weight: 700;
  width: 20%;
  text-align: center;
  cursor: default;
}
.plans .buttons {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.plans .button-next_page {
  font-size: 1rem;
  font-weight: 700;
  width: 35%;
  padding: 1rem 0;
  background-color: #e50914;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 1020px) {
  .plans_name {
    justify-content: center;
  }
  .plan_basic,
  .plan_standard,
  .plan_premium {
    flex: 1;
  }
  .plans .identifier {
    width: calc(0.3 * (100% - 35%));
    height: 600px;
  }
  .plans_name span {
    padding: 2rem 0;
    width: 93%;
  }
  .table_plans tr {
    padding-top: 3rem;
  }
  .table_plans .table-description {
    text-align: center;
    width: 60%;
    position: absolute;
    margin-bottom: 6rem;
  }
  .table-basic,
  .table-standard,
  .table-premium {
    flex: 1;
  }
  .plans .button-next_page {
    width: 90%;
  }
}

@media (max-width: 760px) {
  .plans {
    padding: 0 2rem 4rem;
  }
  .plans .identifier {
    width: 30%;
    height: 520px;
  }
  .table_plans .table-description {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .plans {
    padding: 0 1rem 4rem;
  }
  .plans .button-next_page {
    width: 100%;
  }
}
