@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
.movie_list {
  margin-top: -9rem;
  padding-left: 2rem;
  background-color: #111;
  color: #fff;
}
