@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  overflow: overlay;
}
body::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #e50914;
  height: 30vh;
}
.movie_list {
  margin-top: -9rem;
  padding-left: 2rem;
  background-color: #111;
  color: #fff;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #060505;
}
.loading img {
  border-radius: 10000px;
}
