header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 4.375rem;
  padding: 0 2rem;
  font-size: 2rem;
  z-index: 999;
  transition: all ease 0.5s;
}
.site_name {
  margin-right: 2rem;
}
.content_not_in_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navigation_menu {
  font-size: 1rem;
}
.navigation_menu ul {
  display: flex;
  gap: 1.5rem;
  margin-left: 1rem;
}
.navigation_menu li {
  list-style: none;
}
.navigation_menu li a {
  color: #fff;
  text-decoration: none;
}
.header_right_side {
  display: flex;
  align-items: center;
}
.hidden {
  display: none;
}
.fillBackground {
  background-color: #141414;
}
.search_area {
  display: flex;
}
.search_button {
  display: flex;
  margin-right: 0.5rem;
}
.search_area svg {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
.content_not_in_login a {
  display: flex;
}
.search_area {
  display: flex;
  align-items: center;
}
.search_input_and_delete_button {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  border: 1px solid #141414;
  background-color: #eee;
  border-radius: 5px;
  padding: 0.5rem 0.4rem 0.5rem 0.5rem;
  width: 15rem;
}
.search_input {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 0.5rem;
}
.search_input::placeholder {
  color: #444;
}
.clear_icon {
  display: flex;
  border-radius: 100px;
  padding: 1px;
  font-size: 1.2rem;
}
.clear_icon:hover {
  background-color: rgba(127, 127, 127, 0.3);
}
.site_name a {
  color: #e50914;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
}

@media (max-width: 1020px) {
  .content_not_in_login {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    position: fixed;
    padding: calc((4.375rem - 3rem) / 2);
    right: -300px;
    right: 0;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #333;
    transition: all ease 0.2s;
  }
  .navigation_menu ul {
    flex-direction: column;
    gap: 2rem;
    margin: 3rem 0 0 0;
  }
  .search_area {
    z-index: 0;
    position: fixed;
    width: calc(50% + 2.5rem);
    top: calc((4.375rem - 34.4px) / 2);
    left: 25%;
  }
  .search_input_and_delete_button {
    margin-right: 0;
    width: 100%;
  }
  .menu_lines {
    position: fixed;
    width: 1.8rem;
    height: 1.8rem;
    right: 2rem;
    top: calc((4.375rem - 1.8rem) / 2);
  }
  .menu_lines span {
    display: block;
    width: 100%;
    height: 0.29rem;
    margin-bottom: 0.29rem;
    background-color: #ddd;
    border-radius: 3px;
    transition: all ease 0.2s;
  }
  .menu_lines_animation span:nth-child(1) {
    transform-origin: 3% 0%;
    transform: rotate(45deg);
  }
  .menu_lines_animation span:nth-child(2) {
    opacity: 0;
  }
  .menu_lines_animation span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg);
  }
}

@media (max-width: 760px) {
  .menu_lines_animation span:nth-child(1) {
    transform-origin: 5% 0%;
  }
  .search_area {
    width: 100%;
    padding: 0 2rem 1rem 2rem;
    top: 4.375rem;
    left: 0;
  }
  .fillBackground .search_area {
    background-color: #141414;
  }
}

@media (max-width: 300px) {
  .content_not_in_login {
    width: 100%;
  }
  .menu_lines_animation span:nth-child(1) {
    transform-origin: 0% 0%;
  }
}
