header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 4.375rem;
  padding: 0 2rem;
  font-size: 2rem;
  z-index: 999;
  transition: all ease 0.5s;
}
.site_name {
  margin-right: 2rem;
}
.content_not_in_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navigation_menu {
  font-size: 1rem;
}
.navigation_menu ul {
  display: flex;
  gap: 1.5rem;
  margin-left: 1rem;
}
.navigation_menu li {
  list-style: none;
}
.navigation_menu li a {
  color: #fff;
  text-decoration: none;
}
.header_right_side {
  display: flex;
}
.hidden {
  display: none;
}
.fillBackground {
  background-color: #141414;
}
.search_area {
  display: flex;
}
.search_button {
  display: flex;
  margin-right: 0.5rem;
}
.search_area svg {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
.content_not_in_login a {
  display: flex;
}
.search_area {
  display: flex;
  align-items: center;
}
.search_input_and_delete_button {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
  border: 1px solid #141414;
  background-color: #eee;
  border-radius: 5px;
  padding: 0.5rem 0.4rem 0.5rem 0.5rem;
  width: 15rem;
}
.search_input {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 0.5rem;
}
.search_input::placeholder {
  color: #444;
}
.clear_icon {
  display: flex;
  border-radius: 100px;
  padding: 1px;
  font-size: 1.2rem;
}
.clear_icon:hover {
  background-color: rgba(127, 127, 127, 0.3);
}
.site_name a {
  color: #e50914;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
}

@media (max-width: 465px) {
  .content_not_in_login {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
  }
  .search_area {
    justify-content: center;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
  }
  .search_input {
    order: -1;
    margin-right: 0;
    width: calc(100% - 6rem);
  }
}
