header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 4.375rem;
  padding: 0 2rem;
  font-size: 2rem;
  z-index: 999;
  transition: all ease 0.5s;
}
.site_name {
  margin-right: 2rem;
}
.content_not_in_login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
.fillBackground {
  background-color: #141414;
}
.search_area {
  display: flex;
}
.search_button {
  display: flex;
}
.search_area svg {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
.content_not_in_login a {
  display: flex;
}
.search_area {
  display: flex;
  align-items: center;
}
.search_input {
  font-size: 1rem;
  margin-right: 1.5rem;
  padding: 0.5rem;
  background-color: #eee;
  border: 1px solid #141414;
  outline: none;
  border-radius: 5px;
}
.search_input::placeholder {
  color: #444;
}
.site_name a {
  color: #e50914;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
}
