.search {
  background-color: #141414;
  min-height: 100vh;
  padding: 9rem 2rem;
  width: 100%;
}
.search .movies {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 465px) {
  .search {
    padding: 10rem 2rem;
  }
}
